@model IEnumerable<Gimnasio_Brothers.Models.Pedido>

@{
    ViewData["Title"] = "Indice";
}

<h1>Pedidos</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"> Añadir nuevo pedido</i></a>

</p>
<table class="table" id="tblPedido">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRecibido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdempleadoNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdprovedoresNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRecibido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdempleadoNavigation.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdprovedoresNavigation.CorreoElectronico)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Idpedido" class="btn btn-warning"><i class="bi bi-pencil"> Editar</i></a> |
                    <a asp-action="Details" asp-route-id="@item.Idpedido" class="btn btn-secondary"><i class="bi bi-info-circle"> Ver</i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Idpedido" class="btn btn-danger"><i class="bi bi-x-circle"> Eliminar</i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        let table = new DataTable('#tblPedido', {
            "language": {
                "decimal": "",
                "emptyTable": "No hay registros",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "width": "100%"
        });
    </script>
}