@model IEnumerable<Gimnasio_Brothers.Models.FacturaCliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Facturas</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"></i> Nueva factura</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Fecha de factura
            </th>
            <th>
                Metodo de pago
            </th>
            <th>
                Id de membresía
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MetodoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdclienteMembresiaNavigation.IdclienteMembresia)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Idfactura" class="btn btn-warning"><i class="bi bi-pencil"> Editar</i></a> |
                <a asp-action="Details" asp-route-id="@item.Idfactura" class="btn btn-secondary"><i class="bi bi-printer"> Imprimir</i></a> |
                <a asp-action="Delete" asp-route-id="@item.Idfactura" class="btn btn-danger"><i class="bi bi-trash"> Eliminar</i></a>
            </td>
        </tr>
}
    </tbody>
</table>
