@model Gimnasio_Brothers.Models.Sala

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles de Sala</h1>
<br>
<div>
    <h4>Sala</h4>
    <hr />
    <br>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cupo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cupo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripción)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripción)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idsala" class="btn btn-danger"> <i class="bi bi-pencil-fill"> Editar</i> </a> |
    <a asp-action="Index" class="btn btn-secondary"> <i class="bi bi-arrow-return-left">Regresar a Empleado</i></a>
</div>
