@model IEnumerable<Gimnasio_Brothers.Models.Sala>

@{
    ViewData["Title"] = "Sala";
}

<h1>Salas</h1>
<br>
<p>
    <a asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-lg"></i> Crear una Nueva Sala</a>
</p>
<br>
<table class="table" id="tblSala">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cupo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripción)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Dia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cupo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripción)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idsala" class="btn btn-warning"> <i class="bi bi-pen"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Idsala" class="btn btn-secondary"> <i class="bi bi-eye"></i> Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idsala" class="btn btn-danger"> <i class="bi bi-trash2"></i> Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script>
        let table = new DataTable('#tblSala', {
            "language": {
                "decimal": "",
                "emptyTable": "No hay registros",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "width": "100%"
        });
    </script>
}