@model Gimnasio_Brothers.Models.ProductosVentum

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles</h1>
<br>
<div>
    <h4>Productos Ventas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Precio Unitario
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            Fecha Caducidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaCaducidad)
        </dd>
        <dt class = "col-sm-2">
            Nombre Del Producto
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcategoriaProductoNavigation.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            Nombre Del Provedor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdprovedoresNavigation.Nombre)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idproductos" class="btn btn-danger"> <i class="bi bi-pencil-fill"> Editar</i> </a> |
    <a asp-action="Index" class="btn btn-warning"> <i class="bi bi-arrow-return-left">Regresar a Productos Venta</i></a>
</div>
