@model IEnumerable<Gimnasio_Brothers.Models.ProductosVentum>

@{
    ViewData["Title"] = "Indice";
}

<h1>Produtos de Ventas</h1>
<br>
<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"> Agregar nuevo producto</i></a>
</p>
<table class="table" id="tblProductosVentum">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                Precio Unitario
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
          
            <th>
                Provedor
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioUnitario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.IdcategoriaProductoNavigation.Nombre)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Idproductos" class="btn btn-warning"><i class="bi bi-pencil"> Editar</i></a> |
                    <a asp-action="Details" asp-route-id="@item.Idproductos" class="btn btn-secondary"><i class="bi bi-info-circle"> Ver</i></a> |
                    <a asp-action="Delete" asp-route-id="@item.Idproductos" class="btn btn-danger"><i class="bi bi-x-circle"> Borrar</i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        let table = new DataTable('#tblProductosVentum', {
            "language": {
                "decimal": "",
                "emptyTable": "No hay registros",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "width": "100%"
        });
    </script>
}
