@model IEnumerable<Gimnasio_Brothers.Models.SesionesUv>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CantidadSesiones)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaSesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraSesion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdclienteMembresiaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadSesiones)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaSesion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraSesion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdclienteMembresiaNavigation.IdclienteMembresia)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Idsesiones">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Idsesiones">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Idsesiones">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
