@model Gimnasio_Brothers.Models.ClienteMembresium

@{
    ViewData["Title"] = "Detalles";
}

<h1>Detalles Membresia</h1>
<br>
<div>
    <h4>Información de Membresía</h4>
    <hr />
    <br>
    <dl class="row">
        <dt class = "col-sm-2">
            Fecha de renovación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaProxRenovacion)
        </dd>
        <dt class = "col-sm-2">
            Fecha inicio
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            Fecha fin
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            Tipo de membresía
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdcategoraMembresiaNavigation.Nombre)
        </dd>
        <dt class = "col-sm-2">
            Cliente
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdclienteNavigation.Apellidos)
        </dd>
    </dl>
</div>
<br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdclienteMembresia" class="btn btn-danger"> <i class="bi bi-pencil-fill"> Editar</i> </a> |
    <a asp-action="Index" class="btn btn-warning"> <i class="bi bi-arrow-return-left">Regresar a Empleado</i></a>
</div>

