@model IEnumerable<Gimnasio_Brothers.Models.ClienteMembresium>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de membresías</h1>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="bi bi-plus-circle"> Añadir membresía</i></a>
</p>
<table class="table" id="tblMembresia">
    <thead>
        <tr>
            <th>
                Fecha de renovación
            </th>
            <th>
                Fecha inicio
            </th>
            <th>
                Fecha fin
            </th>
            <th>
                Tipo de membresía
            </th>
            <th>
                Cliente
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaProxRenovacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdcategoraMembresiaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdclienteNavigation.Apellidos)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdclienteMembresia" class="btn btn-warning"><i class="bi bi-pencil"> Renovar</i></a> |
                <a asp-action="Details" asp-route-id="@item.IdclienteMembresia" class="btn btn-secondary"><i class="bi bi-info-circle"> Ver</i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdclienteMembresia" class="btn btn-danger"><i class="bi bi-trash"> Eliminar</i></a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        let table = new DataTable('#tblMembresia', {
        "language": {
            "decimal": "",
            "emptyTable": "No hay registros",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "Buscar:",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        "width": "100%"
        });
    </script>
}