@model Gimnasio_Brothers.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles</h1>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellidos)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellidos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dirreccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dirreccion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class="col-sm-2">
            Fecha de Contratacion
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaContratacion)
        </dd>
        <dt class="col-sm-2">
            Fecha de Pago
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaPago)
        </dd>
        <dt class="col-sm-2">
            Categoria Profesional
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CategoriaProfesional)
        </dd>
        <dt class="col-sm-2">
            Numero de Seguridad Social
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumSeguridadSocial)
        </dd>
        <dt class="col-sm-2">
            Cuenta Bancaria
        </dt>
        <dd class="col-sm-10">
            Cuenta Bancaria
        </dd>
        <dt class="col-sm-2">
            Retencion de Ccss
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RetencionCcss)
        </dd>
        <dt class="col-sm-2">
            Puesto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdpuestoNavigation.CategoriaPuesto)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Idempleado" class="btn btn-danger"> <i class="bi bi-pencil-fill"> Editar</i> </a> |
    <a asp-action="Index" class="btn btn-warning"><i class="bi bi-arrow-return-left">Regresar a la Lista</i></a>
</div>
