@model IEnumerable<Gimnasio_Brothers.Models.Empleado>

@{
    ViewData["Title"] = "Index";
}

<h1>Empleado</h1>

<p>
    <a asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-circle"> Crear nuevo Empleado </i></a>
</p>
<table class="table" id="tblempleado">
    <thead>
        <tr>
            <th>
                <h6>Nombre</h6>
            </th>
            <th>
                <h6>Apellidos</h6>
            </th>
            <th>
                <h6>Dirreccion</h6>
            </th>
            <th>
                <h6>Telefono</h6>
            </th>
            <th>
                <h6>Cedula</h6>
            </th>
            <th>
                <h6>Fecha de Contratacion</h6>
            </th>
            <th>
                <h6>Fecha de Pago</h6>
            </th>
            <th>
                <h6>Categoria Profesional</h6>
            </th>
            <th>
                <h6>Numero de Seguridad Social</h6>
            </th>
            <th>
                <h6>Cuenta Bancaria</h6>
            </th>
            <th>
                <h6>Retencion de Ccss</h6>
            </th>
            <th>
                <h6>Puesto</h6>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Apellidos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dirreccion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefono)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaContratacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaPago)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaProfesional)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumSeguridadSocial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CuentaBancaria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RetencionCcss)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdpuestoNavigation.CategoriaPuesto)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idempleado" class="btn btn-warning"> <i class="bi bi-pencil-fill"> Editar</i> </a> |
                    <a asp-action="Details" asp-route-id="@item.Idempleado" class="btn btn-secondary"> <i class="bi bi-info-circle-fill"> Ver</i> </a> |
                    <a asp-action="Delete" asp-route-id="@item.Idempleado" class="btn btn-danger"> <i class="bi bi-x-circle-fill"> Borrar</i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        let table = new DataTable('#tblempleado', {
            "language": {
                "decimal": "",
                "emptyTable": "No hay registros",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "width": "100%"
        });
    </script>
}