@model IEnumerable<Gimnasio_Brothers.Models.Actividade>

@{
    ViewData["Title"] = "Actividades";
}

<h1>Actividades</h1>
<br>
<p>
    <a asp-action="Create" class="btn btn-success"> <i class="bi bi-plus-lg"> </i> Añadir nueva Actividad</a>
</p>
<br>
<table class="table-info" id="tblActividades">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Idactividades" class="btn btn-warning"> <i class="bi bi-pencil"></i> Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Idactividades" class="btn btn-secondary"> <i class="bi bi-info-circle"></i> Ver</a> |
                    <a asp-action="Delete" asp-route-id="@item.Idactividades" class="btn btn-danger"> <i class="bi bi-x-circle"></i> Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section scripts {
    <script>
        let table = new DataTable('#tblActividades', {
            "language": {
                "decimal": "",
                "emptyTable": "No hay registros",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
            "width": "100%"
        });
    </script>
}